*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.body{
  background: #f4f4f4;
}

.nav-bar{
  background: #0e101c;
  color: white;
  display: flex;
  justify-content: space-between;
}

.main-form{
  margin: 0 auto;
  width: 25%;
}