*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.body{
  background: #f4f4f4;
}

.nav-bar{
  background: #0e101c;
  color: white;
  display: flex;
  justify-content: space-between;
}

.main-content{
  margin: 0 auto;
  width: 40em;
  padding: 10px 50px;
}

.main-form{
  margin: 0 auto;
  text-align: center;
}

.title{
  text-align:center;
}
